/*Hayley Dodkins u21528790*/
body{
    overflow-x: hidden;
}

section{
    display: flex;
    align-items: center;
    background-color: #413D42;
    width:100vw;
    height:fit-content;
    flex-direction: column;
    padding:30px;
    overflow: hidden;
}

#mortgage-payment-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,1fr);
    background-color: white;
    border-radius: 20px;
    width: 30%;
    height:50vh;
    min-height: 300px;
    min-width: 500px;
    margin:30px;
    padding:30px;
    gap:10px;
}

#property-tax-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    background-color: white;
    border-radius: 20px;
    width: 30%;
    height:50vh;
    min-height: 300px;
    min-width: 500px;
    margin:30px;
    padding:30px;
    gap:10px;
}

h2{
    color: #0CC0DF;
}

.form-heading{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.form-label{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #413D42;
    font-size: 20px;
    height:30px;
}

.form-input{
    align-items: center;
    color: #413D42;
    font-size: 20px;
    height:30px;
    display: flex;
}

.form-input > input[type=number]
{
    border-radius: 20px;
    outline: none;
    border:none;
    background-color: lightgrey;
    font-size: 18px;
    color: #413D42;
    padding:10px;
}

button{
    border-radius: 20px;
    background-color: #0CC0DF;
    font-size: 20px;
    padding:10px;
    border: none;
    cursor: pointer;
    color: white;
    width:200px;
    height:60px;
}

button:hover{
    background-color: #413D42;
}

.submit-btn{
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

#monthly-mortgage-container{
    display: none;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding:30px;
    width: 30%;
    height:fit-content;
    min-height: 100px;
    min-width: 500px;
    border-radius: 20px;
    gap:30px;
}

.results-table{
    display: flex;
    flex-direction: column;
    gap:20px;
    color: #413D42;
}

.results-table > div > h3{
    font-size: 18px;
}

.results-table > div > p{
    font-size: 20px;
}

#property-tax-container{
    display: none;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding:30px;
    width: 30%;
    height:10vh;
    min-height: 100px;
    min-width: 500px;
    border-radius: 20px;
    gap:30px;
}

.result-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #413D42;
}

hr{
    width:100vw;
}

#header{
    background-image: url("../img/search-background.png");
    width:100vw;
    height:20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100px;
}

h1{
    color: #0CC0DF;
    font-size: 100px;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    h1{
        font-size: 60px;
    }
}
