
footer{
    width:100vw;
    height:35vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 2fr;
    overflow: hidden;
    max-width: 100vw;
    background-color: white;
}

#footer-logo-container{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.3rem;
    color: #413D42;
    overflow: hidden;
}

hr{
    width:50%;
    border: 1px solid #0CC0DF;
}

#footer-info{
    width:50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#footer-slogan{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    text-align: center;
    color: #413D42;
    font-size: 30px;
}

#footer-about{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    text-align: center;
    color: #413D42;
}

.footer-heading{
    width:100%;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: darkorange;
}

#instagram{
    background-image: url("../img/SocialMedia/grey-instagram.png");
    background-position: center;
    background-size: contain;
    width:30px;
    height:30px;
}

#socials{
    display: flex;
    flex-direction: column;
    gap:10px;

    align-items: center;
}

#facebook{
    background-image: url("../img/SocialMedia/grey-facebook.png");
    background-position: center;
    background-size: contain;
    width:30px;
    height:30px;
}

#x{
    background-image: url("../img/SocialMedia/grey-x.png");
    background-position: center;
    background-size: contain;
    width:30px;
    height:30px;
}

#instagram:hover{
    cursor: pointer;
    background-image: url("../img/SocialMedia/instagram-blue.svg");
}

#facebook:hover{
    cursor: pointer;
    background-image: url("../img/SocialMedia/facebook-blue.svg");
}

#x:hover{
    cursor: pointer;
    background-image: url("../img/SocialMedia/blue-x.png");
}

#footer-about > div > a{
    cursor: pointer;
    text-decoration: inherit;
    color: #413D42;
}

#footer-about > div > a:hover{
    color: #0CC0DF;
}

#footer-logo{
    background-image: url("../img/ApertureEstatesLogo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height:10vh;
    width:6vw;
    min-height: 3vh;
    min-width: 3vw;
    margin-left: 3vw;
}

@media  (max-width: 1440px) {
    #footer-slogan{
        font-size: 20px;
    }
}

