
section{
  width: 100vw;
  height:100vh;
}

a{
  text-decoration: inherit;
  color: #0CC0DF;
}

footer{
  background-color: #413D42;
}

#content{
  background-color: white;
  max-width: 100vw;
  overflow: hidden;
  background-image: url("../img/search-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height:80vh;
}

#greeting-container{
  display: flex;
  justify-content: center;
  padding:20px;
  flex-direction: column;
  gap:10px;
  align-items: center;
}

#house{
  background-image: url("../img/icons/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  width:100px;
  height:100px;
}

h1{
  font-size: 100px;
  color: #0CC0DF;
}

h4{
  font-size: 20px;
  color: #0CC0DF;
}

@media (max-width: 1100px)
{
  h1{
    font-size: 60px;
    color: #0CC0DF;
  }

  h4{
    font-size: 10px;
    color: #0CC0DF;
  }
}

@media (max-width: 650px)
{
  h1{
    font-size: 40px;
    color: #0CC0DF;
  }

  h4{
    font-size: 10px;
    color: #0CC0DF;
  }
}
