/*Hayley Dodkins u21528790*/
section{
  width: 100vw;
  height:100vh;
}

a{
  text-decoration: inherit;
  color: #0CC0DF;
}

footer{
  background-color: #413D42;
}

#content{
  background-color: white;
  width: 100%;
  overflow: hidden;
  background-image: url("../img/search-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height:fit-content;
  padding:20px;
}

#greeting-container{
  display: flex;
  justify-content: center;
  padding:20px;
  flex-direction: column;
  gap:10px;
  align-items: center;

}

#house{
  background-image: url("../img/house.png");
  background-size: cover;
  background-repeat: no-repeat;
  width:100px;
  height:100px;
}

h1{
  font-size: 100px;
  color: #0CC0DF;
}

h4{
  font-size: 20px;
  color: #0CC0DF;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  #content{
    height:fit-content;
    padding:20px;
  }

  h1{
    font-size: 3rem;
  }

  h4{
    font-size: 15px;
  }
}

@media (max-width: 1100px)
{
  h1{
    font-size: 60px;
    color: #0CC0DF;
  }

  h4{
    font-size: 10px;
    color: #0CC0DF;
  }
}

@media (max-width: 650px)
{
  h1{
    font-size: 40px;
    color: #0CC0DF;
  }

  h4{
    font-size: 10px;
    color: #0CC0DF;
  }
}
